@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	list-style:none;
	font-family: 'Poppins', sans-serif;
}


/*navbar*/
nav{
	height : 75px;
	width : 100%;
	background-color : black;
	display:flex;
	justify-content: space-between;
}

.logo-container{
	display : flex;
	align-items : center;
	width: auto;
	margin : 0;
}
.logo{
	margin-left:50px;
	width : 50px;
	height : 50px;
}

.logo-text{
	font-size : 30px;
	line-height : 75px;
	padding-left : 30px;
	font-weight : bold;
	color: white;

}

.nav-list{
	position: fixed;
	width: 100%;
	min-height : 100vh;
	top : 75px;
	float : right;
	text-align: center;
	transition : all .5s;
}

.nav-list li{
	display : none;
	line-height : 30px;
	margin : 50px 0 ;
	transition: all .5s;
}

.nav-list li a{
	color : white;
	font-size : 20px;
	text-transform : uppercase;
}

.nav-list li a.active,.nav-list li a:hover{
	color : lightblue;
	transition : 0.5s;
}

.hamburger-btn{
	display : block;
	font-size : 30px;
	color : white;
	float : right;
	line-height : 75px;
	margin-right : 40px;
	cursor : pointer;
}

#check {
	display : none;
}

#check:checked ~ .nav-list {
	min-height : 100vh;
	background-color: black;
	z-index : 10;
}
#check:checked ~ .nav-list li {
	display: block;
}

@media screen and (min-width: 800px){
	.logo-container{
		margin-left : 25px;
	}
	nav { 
		height : 100px;
	}
	.hamburger-btn{
		display : none;
	}

	.nav-list {
		position :fixed;
		height : 100px;
		top : 0;
		float : right ;
		text-align : right ;
		transition : none;
	}

	.nav-list li{
		display : inline-block;
		line-height : 100px;
		margin: 0 20px;
		transition : none;
	}

	.nav-list li a.active, .nav-list li a:hover{
		color : #ffffff;
	}
}

/* Accordion */ 

.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}

h1{
	margin-left : 20px;
}



/*footer*/

.footer {
	position : absolute;
	background-color: #0e0d0d;
	overflow: hidden;
	width: 100%;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 50px;
	margin-top: 50px;
}
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
	display: inline-block;
	vertical-align: top;
	}


/* footer left*/

.footer .footer-left {
	width: 40%;
  }
  
  .footer h1 {
	line-height: 20px;
	color: #ffffff;
	font-size: 25px;
	font-weight:bold;
	
	margin: 0;
  }
  
  .footer h1 span {
	color: #0099ff;
  }
  .footer .about {
	line-height: 20px;
	color: #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  }

  .footer .menu {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
  }
  
  .footer .menu a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
  }
  
  .footer .menu a:hover {
	color: #0099ff;
  }
  
  
/* footer center*/

.footer .footer-center {
	width: 33%;
  }

  .footer .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 15px 0px;
	vertical-align: middle;
  }

  .footer .about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .footer .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
  }
  
  .footer .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
  }
  
  .footer .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 20px;
	
  }
  
  .footer .footer-center p a {
	color: #0099ff;
	text-decoration: none;
  }


/* footer right*/

.footer .footer-right {
	width: 25%;
  }
  
  .footer h2 {
	color: #ffffff;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
  }
  
  .footer .icons {
	margin-top: 25px;
	}
	  
  .footer .icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #0a0a0a;
	border-radius: 2px;
	font-size: 20px;
	color: #f8f8f8;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
  }

  



	
  @media screen and (max-width: 768px){   
    .footer {
        font-size: 14px;
      }
      .footer .footer-left,
      .footer .footer-center,
      .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
      .footer .footer-center i {
        margin-left: 0;
      }
	.fa {
		display : none;
	}
	.fa p{
		margin-bottom: 100px;
	}
	h1{
		text-align:center;
	}

}
	

	@media screen and (min-width: 768px){   
	.footer{
		position : absolute;
		bottom: 0 ;
	}

	}